* {
    margin: 0px;
    padding: 0px;
}
body {
background-attachment: fixed;
background-image: linear-gradient(180deg, rgb(77, 59, 126), rgb(0, 0, 0));
}

.App {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.App-div1 {
    width: 40%;
    
    padding-left: 43px;
    color: white;
    font-size: 20px;
}

.App-p1 {
    font-size: 20px;
    padding-top: 77px;
}

.App-p2 {
    padding-top: 75px;
}

.App-p3 {
    font-size: medium;
}

.App-p4 {
    padding-top: 30px;
}

.App-div2 {
    width: 40%;
    color: white;
    padding-left: 43px;
}

.App-div3 {
    width: 40%;
    color: white;
    padding-top: 6rem;
}


.App-div2-p1 {
    font-size: 20px;
    padding-top: 20px;
    padding-left: 2rem;
    padding-bottom: 2rem;
}

.App-div2-div {
    display: flex;
    width: 100%;
    align-items: flex-start;
    justify-content:space-between;
    border-bottom: 1px solid black;
    padding-bottom: 1rem;
    width: 90%;
}



@media screen and (max-width: 900px) {
    .App-div1  {
      width: 100%;
    }
    .App-div2  {
        width: 100%;
      }
      .App-div3  {
        width: 100%;
      }
      .App-div4 {
        width: 100%;
      }
  }